@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


html {
    scroll-behavior: smooth;
}

header {
    font-family:'Montserrat', sans-serif;
}

main {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --about-color: rgb(65, 136, 230);
    --gradient-color: rgba(211, 221, 236, 0.692);
    --poppins: 'Poppins', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
}       

.about > div > section {
    background-color: var(--about-color);
}

.about {
    background-color: var(--gradient-color);
}

.about > section > div > h2 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    text-shadow: 4px 4px 2px rgba(130,98,210,0.77);
}

.font-poppins {
    font-family: var(--poppins);
}

.proyectos {
    font-family: var(--quicksand);
}

.text-shadow {
    text-shadow: 4px 4px 2px #000;
}

.box-shadow {
    box-shadow: 12px 13px 9px -1px rgba(0,0,0,0.30);
}

.restaurant {
    background: url('./assets/images/TP-final.PNG') center no-repeat;
    background-size: cover;
}

.portfolio {
    background: url('./assets/images/Portfolio.PNG') center no-repeat;
    background-size: cover;
}

.ticketing {
    background: url('./assets/images/TP-inicial.PNG') center no-repeat;
    background-size: cover;
}

.crypto {
    background: url('./assets/images/crypto.PNG') center no-repeat;
    background-size: cover;
}

@media (max-width: 1400px) {
    .group {
        grid-auto-flow: column;
    }
}